.vs/
build*/
bin/
nouse/
objs/
lib/
dll/
Release/
Debug/
ipch/
html/
cache/
.libs/
.deps/
autom4te.cache/
thirdparties/
GuiTest/images/
Makefile
libtool
*.opt
*.ncb
*.aps
*.plg
*.clw
*.tlb
*.db
*.idb
*.sqlite
*.opensdf
*.sdf
*.suo
*.exe
*.obj
*.o
*.lo
*.Plo
*.la
*.a
*.zip
*.7z
*.tar*
*.log
*.status
*~
/*.png
/*.jpg
/*.gif
/*.bmp
/*.doc
/*.imp
/*.rtf
/*.psd
